target/classes/com/azamda/hibernate/One2One.class
target/classes/com/azamda/hibernate/PMDTO.class
target/classes/com/azamda/hibernate/One2One.class
target/classes/com/azamda/hibernate/CountryDTO.class
